
<div id="mainHeader">
  <div id="mainHeaderProductName">Air Panel Demo</div>
</div>

<div class="engineList">    
  <div class="groupBoxLabel">CURRENT ITEM</div>
  <div class="groupBox" ng-app="">
    <h2 class="groupBoxLabel">Item: {{ currentMcrItem.Name }}</h2>
  </div>
</div>


<div class="engineList">    
  <div class="groupBoxLabel">CONTROLS</div>
  <div class="groupBox">
      <table>
          <tr>
              <td>
                  <div class="buttonCaption">PLY</div>
                  <div type="button" class="btn btn-goLive" (click)="playItem(currentMcrItem)" >
                      <div class="square" style="background: black"></div>
                  </div>
              </td>
              <td>
                  <div class="buttonCaption buttonCaption-clearAll">CLR</div>
                  <div type="button" class="btn btn-select" (click)="clearItem(currentMcrItem)">
                      <div class="square" style="background: black"></div>
                  </div>
              </td>
          </tr>
      </table>
  </div>
</div>
